<h1>Pinterest</h1>

<p>Pinterested is a simple clone of Pinterest.</p>

<p>It is built using Ruby on Rails Framework.</p>

<p>It's also uses Twitter Bootstrap and jQuery for frontend.</p>

<p>It has many featues like -- </p>


<p>* User registration and Authentication using Devise gem</p>

<p>* Users can load their own pins - photographs and add description to it.</p>

<p>* They can edit and destroy these pins as required.</p>

<p>* They can also check other users pins.</p>
