<%= link_to 'Home', root_path %>
<%= link_to 'About Us', home_about_path %>

<h1>Welcome to my app</h1>
<p>kick asssss</p>
<p>I was earlier in app/views/home/index.html.erb</p>
<p>Now i am in the root page</p>

