<div class="jumbotron">
<h1>Welcome to my app</h1>
<p>kick asssss</p>
<p>I was earlier in app/views/home/index.html.erb</p>
<p>Now i am in the root page</p>
<%= link_to 'About us', home_about_path, class: 'btn btn-default btn-lg' %>
<%= link_to 'Home', root_path, class: 'btn btn-primary' %>
</div>

